/* How It Works Styles */

.how-it-works-container
  padding-top 100px

h2
  text-align center

ul.steps-container
  display flex
  list-style none

  li
    width 33.3333%

    div
      background-color red
      width 300px
      height 200px
      border-radius 8px

    h4
      font-size 21px
      color #555555
      letter-spacing -0.88px
      line-height 22px

      &:before
        content '1'
        background-color #007BDD
        color #fff
        padding 16px 22px
        border-radius 50px
        margin -6px 8px 0px 0px
        float left

    .two
      &:before
        content '2'

    .three
      &:before
        content '3'
