/* Trusted By These Companies */
.trusted-by {
  margin-top: 40px;
  border-bottom: solid #e8e8e8 1px;
}
.trusted-by h5 {
  text-align: center;
}
.trusted-by div {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
.trusted-by div img {
  margin-left: 32px;
}
.trusted-by div img:first-child {
  margin-left: 0px;
}
