/* Main Nav Style Sheet */

.main-nav
  display flex
  position relative
  height 44px
  font-weight bold

  ul.nav-items
    display flex
    color red
    position absolute
    right 420px
    list-style none
    top 11px

    li
      font-size 16px
      color #B5B5B5
      letter-spacing -0.37px
      margin-right 28px

      &:last-child
        margin-right 0px

  ul.nav-ctas
    display flex
    color blue
    position absolute
    right 0px

    li
      margin-left 20px

      button
        border-radius 4px
        background-color #ffffff
        font-size 15px
        color #0079D9
        letter-spacing -0.35px
        padding 12px 18px
        border solid #DADAE8 1px
        font-weight bold

      .hire-btn
        background-color #00BA66
        color #ffffff
        border solid 1px #00BA66

.main-nav, ul.nav-ctas
  list-style none

.logo
  position absolute
  left 0px
  top 5px

.vertical-line-sep
  background-color #DFDFE0
  height 80%
  width 1px
  display block
  position absolute
  right 400px
  top 4px

/* Secondary Nav Style Sheet */

.secondary-nav
  list-style none
  display flex
  font-weight 600
  position relative
  padding 0px 0px 20px 0px

  .phone
    color #ABACAE
    position absolute
    left 0px

    a
      color #007BDD

     span
      color #ABACAE

  .contact-us
      position absolute
      right 120px
      color #ABACAE

      a
        color #007BDD
        font-weight bold

  li.contact-us, li.phone
    font-size 14px

  ul.social
    position absolute
    right 0px
    display flex
    list-style none

    li
      margin-left 20px
      position relative

      img
        margin-left 2px





