body {
  font-family: HelveticaNeue;
}
ul {
  list-style: none;
  display: flex;
  font-weight: 600;
  padding-left: 0px;
  justify-content: flex-end;
}
ul li {
  font-size: 14px;
  color: #abacae;
}
ul li a {
  color: #007bdd;
}
ul li:first-child {
  font-size: 15px;
  color: #373737;
  letter-spacing: -0.16px;
  left: 0px;
  position: absolute;
}
ul li:first-child span {
  color: #abacae;
}
ul ul.social {
  position: relative;
}
ul ul.social li margin-left 16px:first-child {
  position: relative !important te;
}
.main-container {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  position: relative;
}
