.container-full-width
  width 100%
  border-bottom solid #E5E5E6 1px

.container-lg
  margin 0 auto
  max-width 1040px

body
  font-family HelveticaNeue

/* Typography */

h1
  font-size 48px
  color #FFFFFF
  letter-spacing -0.4px

  p
    font-size 18px
    color #FFFFFF
    letter-spacing -0.23px
    line-height 18px

